<?xml version="1.0"?>
<configuration>
	<configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  <specFlow>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
  </specFlow>
	<appSettings>
		<add key="URL" value="https://www.hudl.com" />
		<add key="Browser" value="Chrome" />
	</appSettings>
</configuration>